body {
    background-image: url("../Ex022/Imagens/pattern001.png");
}
article {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bloco1{
    background-image: url("");
}

#bloco1 
{
    background-image: url("Imagens/pattern002.png");
    width: 300px;
    height: 300px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
}

#bloco2 
{
    background-image: url("Imagens/pattern003.png");
    width: 300px;
    height: 300px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
}

#bloco3 
{
    background-image: url("Imagens/pattern004.png");
    width: 300px;
    height: 300px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
}